
body{
  font-family: 'Montserrat', sans-serif;
  background:#011627;
  border-bottom:60px solid #2EC4B6;
  border-left: 60px solid #2EC4B6;
  border-right:60px solid #2EC4B6;
}
h1{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:white;
}

h2{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  color:white;
  padding-bottom: 30px;
}

.thankyou{
  text-align:center;
  color:white;

}

#button{
  height:75px;
  width:120px;
  color:black;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color:yellow;
  font-family: 'Montserrat', sans-serif;
  border-radius:15px;
  border:2px solid black;
}
#name{
  height:30px;
  width:300px;

  margin:0px 0px 0px 0px;
}
#para_3{
text-align:center;
color:white;
font-size:22px;

margin:0px 0px 0px 0px;
}

#para_1{
  color:white;
  text-align:center;

  padding-right:250px;

  padding-left:250px;
  padding-bottom:30px;

}
#heading{
  padding-bottom:20px;
}
