body{
    font-family: 'Montserrat', sans-serif;
    background:#011627;
    border-bottom:60px solid #2EC4B6;
    border-left: 60px solid #2EC4B6;
    border-right:60px solid #2EC4B6;
}

#same{
  font-family: 'Montserrat', sans-serif;
  color:white;
  text-align: center;
}
#image{
  border:5px solid black;
  padding:20px;
  margin-left: 250px;
  margin-bottom: 50px;
  align-items: center;
}
